BODY {
	SCROLLBAR-ARROW-COLOR: #ececec; SCROLLBAR-BASE-COLOR: #009999
}
.TextNhap {
	font-family: "Times New Roman", Times, serif;
	color: #F06000;
	background-color: #E2E2E2;
	font-size: 12px;
	padding: 0px;
}
A:link {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #FFFF00; FONT-FAMILY: arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}

