.Title {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY: 'Times New Roman'
}
.TitleWhite {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #ffffff; FONT-FAMILY: 'Times New Roman'
}
.ColTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: 'Arial'
}
.SubTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #5f5f5f; FONT-FAMILY: 'Times New Roman'
}
.Time {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.TimeW {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.Time:hover {
	FONT-SIZE: 8pt; COLOR: #800040; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: underline
}
.Author {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: 'Arial'; TEXT-ALIGN: right
}
.Normal {
	FONT-SIZE: 11.8pt; COLOR: #000000; FONT-FAMILY: 'Times New Roman'
}
.Link {
	TEXT-DECORATION: none
}
.Link:hover {
	TEXT-DECORATION: underline
}
.Image {
	FONT-SIZE: 8.5pt; COLOR: #000000; FONT-FAMILY: 'Arial'
}
.Lead {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #5f5f5f; FONT-FAMILY: 'Times New Roman'
}
.Menu {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-LEFT: 6px; WIDTH: 100%; COLOR: #ffffff; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.MenuSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-LEFT: 6px; WIDTH: 100%; COLOR: #ffffff; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.SubMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-LEFT: 6px; WIDTH: 100%; COLOR: #333366; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.SubMenuSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-LEFT: 6px; WIDTH: 100%; COLOR: #ffffff; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.TitleFront {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: 'Times New Roman'; TEXT-DECORATION: none
}
.TitleFront:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: 'Times New Roman'; TEXT-DECORATION: underline
}
.TitleFront:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #004080; FONT-FAMILY: 'Times New Roman'; TEXT-DECORATION: none
}
.TitleSmall {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.TitleSmall:hover {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: underline
}
.TitleSmall:visited {
	FONT-SIZE: 8pt; COLOR: #004080; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.LeadFront {
	FONT-SIZE: 10pt; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.More {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.Folder {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ad1455; FONT-FAMILY: 'Verdana'
}
.OtherTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: 'Arial'; TEXT-DECORATION: underline
}
.TopicTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #004080; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.TopicTitle:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: 'Arial'; TEXT-DECORATION: underline
}
.TopicTitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #800040; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.Other {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.Other:hover {
	FONT-SIZE: 10pt; FONT-FAMILY: 'Arial'; TEXT-DECORATION: underline
}
.Other:visited {
	FONT-SIZE: 10pt; COLOR: #004080; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.SubItem {
	FONT-SIZE: 8pt; COLOR: #333366; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.SubItemSelected {
	FONT-SIZE: 8pt; COLOR: #333366; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.TopStory {
	FONT-WEIGHT: bold; FONT-SIZE: 12.5pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.Copyright {
	FONT-SIZE: 8pt; COLOR: #5f5f5f; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.Symbol {
	FONT-SIZE: 8pt; COLOR: #5f5f5f; TEXT-DECORATION: none
}
.BoxHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.BoxItem {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.HotItem {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.HotItem:hover {
	FONT-SIZE: 8pt; COLOR: #004080; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.FormItem {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.FolderTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.About {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.ForumItem {
	FONT-SIZE: 10pt; FONT-FAMILY: 'Verdana'
}
.ForumHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: 'Verdana'
}
.FormField {
	FONT-SIZE: 10pt; FONT-FAMILY: 'MS Sans Serif'
}
.ShowDate {
	FONT-SIZE: 8pt; COLOR: #8080c0; FONT-FAMILY: 'Arial'
}
.MenuSet {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.MenuSet:hover {
	FONT-SIZE: 8pt; COLOR: #004080; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.IndexDesc {
	FONT-SIZE: 1pt; COLOR: #5a1633; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.AddBody {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.SearchTitle {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.ShowNext {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: underline
}
.ShowNext:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #004080; FONT-FAMILY: 'Arial'; TEXT-DECORATION: underline
}
.VoteItem {
	FONT-SIZE: 10pt; MARGIN-LEFT: 2px; COLOR: #000000; MARGIN-RIGHT: 2px; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.VoteField {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.VoteTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.VoteShow {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.VoteRemark {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.BoxTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.BoxLink {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.AdvLink {
	FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.AdWordBox {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Tahoma'; TEXT-DECORATION: none
}
.BreakLine {
	FONT-SIZE: 1pt; FONT-FAMILY: 'Arial'; HEIGHT: 1px
}
.SearchBox {
	FONT-SIZE: 10px; WIDTH: 93px; FONT-FAMILY: 'Arial'
}
.SearchButton {
	BORDER-RIGHT: #069 1px solid;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #69c 1px solid;
	PADDING-LEFT: 1px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	BORDER-LEFT: #69c 1px solid;
	COLOR: #fff;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #069 1px solid;
	BACKGROUND-COLOR: #369;
	font-family: "Times New Roman", Times, serif;
}
.MoreTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.CExpand {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.CExpand:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.PnLink {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.PnLTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.PnDTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.SForm {
	FONT-SIZE: 9pt; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.SFormWhite {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.SFormR {
	FONT-SIZE: 9pt; FONT-FAMILY: 'Arial'; TEXT-DECORATION: underline
}
.IItem {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: none
}
.IItem:hover {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Verdana'; TEXT-DECORATION: underline
}
.IItem:visited {
	FONT-SIZE: 10pt; COLOR: #8080c0; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.AdTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.AdTop {
	FONT-WEIGHT: bold; FONT-SIZE: 20pt; COLOR: #5f5f5f; FONT-FAMILY: 'Times New Roman'; TEXT-DECORATION: none
}
.Small {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.SmallW {
	FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.Question {
	MARGIN-TOP: 15px; FONT-SIZE: 12pt; MARGIN-BOTTOM: 7px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: 'Times New Roman'
}
.Answer {
	MARGIN-TOP: 0px; FONT-SIZE: 12pt; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: 'Times New Roman'
}
.IntMaster {
	WIDTH: 99%
}
.VoteButton {
	FONT-SIZE: 8pt; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.AdHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: 'Verdana'
}
.LoadBox {
	BACKGROUND-POSITION: center 50%; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(/Images/Loading.gif); BACKGROUND-REPEAT: no-repeat
}
.LItem {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.LItem:hover {
	FONT-SIZE: 10pt; FONT-FAMILY: 'Arial'; TEXT-DECORATION: underline
}
.LItem:visited {
	FONT-SIZE: 10pt; COLOR: #004080; FONT-FAMILY: 'Arial'; TEXT-DECORATION: none
}
.LItemDot {
	
}
