a:hover { color: #FF9900; text-decoration: none} .bluesmall { font-family: Verdana, 
Arial, Helvetica, sans-serif; font-size: 9px; color: #6699CC; text-decoration: 
none } .textblue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
11px; color: #6699CC; text-decoration: none } .textbluedk { font-family: Verdana, 
Arial, Helvetica, sans-serif; font-size: 10px; color: #3871A9; text-decoration: 
none } .whitesmall { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
10px; color: #FFFFFF; text-decoration: none } .orangesmall { font-family: Verdana, 
Arial, Helvetica, sans-serif; font-size: 9px; color: #FFC66F; text-decoration: 
none } .textorange { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
10px; color: #FFC66F; text-decoration: none } .textbluedk:hover { color: #FFFFFF 
} .textwhite { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
10px; color: #FFFFFF; text-decoration: none } .textwhite:hover { color: #000000} 
.subtitlesmall { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
11px; color: #FFC66F; text-decoration: none ; font-weight: bold } .tabledk { text-decoration: 
none ; background-color: #3871A9} .tablelt { text-decoration: none ; background-color: 
#F4F8FB} h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; 
font-weight: bold; color: #FF9900 } h2 { font-family: Verdana, Arial, Helvetica, 
sans-serif; font-size: 12px; color: #6699CC; text-decoration: none ; font-weight: 
bold } h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; 
color: #FFB76F; text-decoration: none ; font-weight: bold } h4 { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #3871A9; text-decoration: 
none ; font-weight: bold } h5 { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; color: #3871A9; text-decoration: none ; font-weight: bold} .subtitle 
{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: 
#FFB76F; text-decoration: none ; font-weight: bold } .subtitleblue { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #6699CC; text-decoration: 
none ; font-weight: bold} .reditalic { font-family: Verdana, Arial, Helvetica, 
sans-serif; font-size: 11px; color: #990000; text-decoration: none ; font-style: 
italic; font-weight: bold} .comments { font-family: Verdana, Arial, Helvetica, 
sans-serif; font-size: 11px; color: #009933; text-decoration: none ; font-weight: 
bold } .subtitleorg { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
11px; color: #FFB76F; text-decoration: none ; font-weight: bold } .code { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #6699CC} .redsubtitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
12px; color: #990000; font-weight: bold } .bullet { list-style-position: outside; 
list-style-image: url(/images/icons/arrow_b.gif); list-style-type: square} .bullet2 
{ list-style-position: outside; list-style-image: url(/images/icons/arrow_o.gif); 
list-style-type: square} .bullet3 { list-style-position: outside; list-style-image: 
url(/images/icons/bullet_b.gif); list-style-type: disc} .bullet4 { list-style-position: 
outside; list-style-image: url(/images/icons/bullet_o.gif); list-style-type: disc 
} .subtitlebluedk { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
11px; color: #3871A9; text-decoration: none ; font-weight: bold } .link { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #3871A9; text-decoration: 
none ; font-weight: normal} .link:hover { font-family: Verdana, Arial, Helvetica, 
sans-serif; font-size: 11px; color: #FFB76F; text-decoration: none ; font-weight: 
normal} .input {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
10px; border-color:#3871A9;border-width=1px;color: #3871A9;background-color: #F4F8FB}.inputwhite 
{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: 
#3871A9; border-width=1px; border-color:#3871A9} .text { font-family: Verdana, 
Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; line-height: 
18px} .orglink { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
11px; color: #FF9900; text-decoration: none } .black { font-family: Verdana, Arial, 
Helvetica, sans-serif; font-size: 10px; text-decoration: none ; color: #000000} 
.input2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;border-width=1px;color: 
#FF9900;background-color: #FFFFFF; border-color: #FF9900} .textred {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #CC0000}
